<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin site</title>
</head>
<body>
	
	<Label>Logged in: <output th:text="${user.name}" th:value="${user.id}" name="userid"/></Label>

	<p th:text="${msg}" />
	<p> Új helyszín adatai:"</p>
	<form action="/addcourt" method="post">
		
		<p>A helyszín neve?</p>
		<input type="text" name="courtname" />
		
		<p>A helyszín címe?</p>
		<input type="text" name="courtaddress" />
		
		<p>A helyszín bérleti díja?</p>
		<input type="number" name="courtrent" />
		
		<input type="hidden" name="loggedin_userid" th:value="${user.id}" />
		<input type="submit" />		
		
		
	</form>
		

	<form action="/addgame" method="post">
		
		<p>Játékos 1</p>
		<select name="player1Id">
			<option th:each=" ul : ${userList}" th:text="${ul.name}" th:value="${ul.id}"></option>
		</select>
			
		<p>Játékos 2</p>
		<select name="player2Id">
			<option th:each=" ul : ${userList}" th:text="${ul.name}" th:value="${ul.id}"></option>
		</select>
			
		<p>Helyszín neve</p>
		<select name="courtId">
			<option th:each=" cl : ${courtList}" th:text="${cl.name}" th:value="${cl.id}"></option>
		</select>
			
		<p>Játékos 1 pontszáma</p>
		<input type="number" name="scoreplayer1">
			
		<p>Játékos 2 pontszáma</p>
		<input type="number" name="scoreplayer2">
			
		<p>Dátum</p>
		<input type="datetime-local" name="gamedate">
		
		<input type="hidden" name="loggedin_adminid" th:value="${user.id}" />
		
		<input type="submit" value="Játék létrehozása" />
		
	</form>
	
	<form action="/showgames" method="get">
	
 		<input type="hidden" name="uid" th:value="${user.id}" />
		
	<a href="/showgames">link a főoldalra</a>
	
	</form>
	
	
	<p> Új felhasználó :"</p>
	<form action="/adduser" method="post">
		
		<p>Felhasználó neve?</p>
		<input type="text" name="username" />
		<input type="hidden" name="loggedin_adminid" th:value="${user.id}" />
		
		<input type="submit" />		
		
		
	</form>

</body>
</html> 