<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p style="color: green" th:text="${msg}"></p>
        <form action="/logout" method="Post">
            <input type="hidden" name="uid" th:value="${user.id}" />
            <input type="submit" value="Logout"/></br>
        </form>
        <Label>Logged in user: <output th:text="${user.name}" th:value="${user.id}" name="userid"/></Label>
        <table>
            <thead>
                <tr>
                    <th>Id</th> 
                    <th>Player1 name</th>
                    <th>Player2 name</th>                  
                    <th>Player1 score</th>                  
                    <th>Player2 score</th>                  
                    <th>Court</th>                  
                    <th>Date</th>                  
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center" th:each ="game : ${gameList}">
                    <td th:text ="${game.id}"></td>
                    <td th:text="${game.player1.name}"></td>
                    <td th:text="${game.player2.name}"/></td>
                    <td th:text="${game.scorePlayer1}"/></td>
                    <td th:text="${game.scorePlayer2}"/></td>
                    <td th:text="${game.court.name}"/></td>
                    <td th:text="${game.gamedate}"/></td>
                </tr>
            </tbody>
        </table> 
        
        
        <form action="/searchbycourt" method="get">
        	<select name="courtId">
        		<option th:each="c : ${courtList}" th:text="${c.name}" th:value="${c.id}"></option>
        	</select>
        	
      	    <input type="hidden" name="userId" th:value="${user.id}"/>
            <input type="submit" />
        </form>
        
        
        <form action="/searchbyuser" method="get">

			<select name="searched_userid">	
				<option th:each="u : ${userList}" th:text="${u.name}" th:value="${u.id}"></option>
			</select>
			
			<input type="hidden" name="loggedin_userid" th:value="${user.id}" />
			<input type="submit" value="Választ"/>
			
		</form>        
    </body>
</html>
